.settings-container {
  min-height: 100vh;
  background: #f5f5f5;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.back-btn {
  background: none;
  border: none;
  color: #007bff;
  font-size: 18px;
  cursor: pointer;
}

.settings-box {

  background: white;
  max-width: 800px;
  margin: auto;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.settings-box h2 {
  /* text-align: center;
  margin-bottom: 20px;
  color: #333; */
text-align: center;
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: 700;
  color: #2c3e50;
  background: linear-gradient(90deg, #4b6cb7, #182848);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.message {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}

.message.success {
  background: #e6ffed;
  color: #2d8a45;
}

.message.error {
  background: #ffe6e6;
  color: #cc0000;
}

.message.info {
  background: #e6f0ff;
  color: #0055cc;
}

.branch-section h3,
.password-section h3 {
  /* color: #333; */
  text-align: left;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 700;
  color: #773787;
  margin-bottom: 10px;
}

.branch-inputs {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.branch-inputs input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.branch-inputs button {
  background: #28a745;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.branch-inputs button:hover {
  background: #218838;
}

.cancel-btn {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 25px;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

td button {
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
  margin-right: 5px;
}

td button:hover {
  text-decoration: underline;
}

.no-branch {
  text-align: center;
  color: #666;
}

.password-section input {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.change-password-btn {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.change-password-btn:hover {
  background: #0056b3;
}
